@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-video {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.main-video__displayed {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;

  @include tablet {
    height: 100%;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  @include desktop {
    padding-left: 12rem;
    padding-right: 12rem;
    aspect-ratio: auto;
  }
}
