@font-face {
    font-family: "Avenir Next Regular";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"),
        url("../../assets/fonts/alternative_files/AvenirNextLTPro.ttf");
}
@font-face {
    font-family: "Avenir Next Demi";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"),
        url("../../assets/fonts/alternative_files/AvenirNextLTProDemi.ttf");
}
@font-face {
    font-family: "Avenir Next Bold";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"),
        url("../../assets/fonts/alternative_files/AvenirNextLTProBold.ttf");
}
