// media breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// PRIMARY COLORS
// BrainFlix-Black: Primary text color
$primary-color-black: #323232;
// BrainFlix-Blue: Primary CTA color. Active form field outline color
$primary-color-blue: #05445E;
// Silver: Seconday text color. Text Label color
$primary-color-silver: #afafaf;
// White: Background color. CTA text color
$primary-color-white: #ffffff;

// SECONDARY COLORS
// BrainFlix-DarkBlack: Video player components
$secondary-color-darkblack: #000000;
// BrainFlix-DarkBlue: CTA hover state color
$secondary-color-darkblue: #0065ad;
// Mercury: Divider line. Form field outline color
$secondary-color-mercury: #e1e1e1;
// Alabaster: Form field background color
$secondary-color-alabaster: #fafafa;

// FORM FIELD BORDER in an error state
$invalid-border-color: #d22d2d;

// Primary Colors
$primary-black: #13182c;
$primary-indigo: #2e66e5;

// Secondaty Colors
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;

// Background Colors
$bg-dark: #232940;
$bg-light: #f7f8f9;

// Supporting Colors
$sup-green: #158463;
$sup-red: #c94515;

// White
$white: #ffffff;