@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.today {
  padding: 1rem;

  @include tablet {
    padding: 2.25rem;
  }

  display: flex;
  flex-direction: row;
  gap: 2.25rem;
  background-color: #D4F1F4;

  &__clothing-image {
    max-width: 20rem;
    max-height: 20rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__details-inner {
    border: solid #05445E 0.0625rem;
    padding: 1rem;
  }

  &__clothing {
    border: solid #189AB4 0.0625rem;
    padding: 1rem;
  }

  &__piece-image {
    max-width: 8rem;
    max-height: rem;
    width: 8rem;
    height: 8rem;
  }
}