@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.today {
  margin-top: 1rem;

  @include tablet {
    margin-top: 2.25rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d4f1f4;

  &__basic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.25rem;
  }

  &__clothings {
    display: flex;
    flex-direction: column;
  }

  &__clothing {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 5px 6px 23px -1px #000000;
    box-shadow: 5px 6px 23px -1px #000000;

    &-image {
      max-width: 80%;
      max-height: 50%;
    }
  }

  &__pieces {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    -webkit-box-shadow: 5px 6px 23px -1px #000000;
    box-shadow: 5px 6px 23px -1px #000000;

    &-image {
      max-width: 8rem;
      max-height: 8rem;
      width: 8rem;
      height: 8rem;
    }
  }

  &__accessories {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__essentials {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
    }

    &-image {
      max-width: 8rem;
      max-height: 8rem;
      width: 8rem;
      height: 8rem;
    }
  }

  &__specials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
}
