@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  &-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-items: center;

    &__forward-link-container {
      align-self: flex-end;
      padding-right: 2.25rem;
    }
  }
}
