@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.forecast {
  margin-top: 1rem;
  padding: 2.25rem;

  @include tablet {
    margin-top: 2.25rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &__main {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 2.25rem;
    justify-content: space-around;
  }

  &__basic {
    display: flex;
    flex-direction: column;
    width: 40%;
    -webkit-box-shadow: 3px 8px 15px 5px #000000;
    box-shadow: 3px 8px 15px 5px #000000;
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__clothing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    -webkit-box-shadow: 3px 8px 15px 5px #000000;
    box-shadow: 3px 8px 15px 5px #000000;
    border-radius: 20px;

    &-image {
      width: 100%;      
      object-fit: cover;
    }

    &-button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-link {
      text-decoration: none;
      color: inherit;
    }
  }

  &__pieces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;

    &-item {
      width: 25%;
    }

    &-image {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      -webkit-box-shadow: 8px 9px 15px 1px #000000;
      box-shadow: 8px 9px 15px 1px #000000;
      object-fit: cover;
      // margin: 20px 0;
    }
  }

  &__accessories {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__essentials {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      list-style: none;
    }

    &-image {
      max-width: 8rem;
      max-height: 8rem;
      width: 8rem;
      height: 8rem;
      -webkit-box-shadow: 8px 9px 15px 1px #000000;
      box-shadow: 8px 9px 15px 1px #000000;
      object-fit: cover;
      margin: 20px 0;
    }
  }

  &__specials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
