.tomorrow-page__main {
  display: flex;
  flex-direction: column;
}

.tomorrow-page__heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  white-space: nowrap;
  list-style: none;
}